@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&display=swap');
:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);


}
*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline: none; border: none;
    text-decoration: capitalize;
}

html{
    font-size: 60.5%;
    overflow-x: 1rem;
}
 


section{
    padding:5rem 10%;
}

@keyframes fadeIn {
    0%{
       transform: scale(0);
       opacity: 0;
    }
 }

.btn{
    display: inline-block;
    background: var(--light-black);
    border-radius: 4px;
    margin-top: 10rem;
    color:var(--white);
    font-size: 1.7rem;
    padding:1rem 3rem;
    cursor: pointer;
}
.btn:hover{
    background: var(--main-color);
}

.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display:flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);

}
.header .navbar{
    display: flex;
}
.header .nav-menu{
    display: flex;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--black);
    border-radius: 4px;
    
}

a.active, a:hover{
    color:var(--main-color);
transition: .5s;

}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: blueviolet;
}













.home{
    padding:0;
}
 .home .slide{
    text-align: center;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height:65rem;

 }

 .home .slide .content{
    width: 85rem;
    
 }
 .home .swiper-slide-active .content{
    display: inline-block;}


 .home .slide .content span{
    display:block;
    font-size: 3rem;
    color:var(--light-white);
    padding-bottom: 1rem;
    animation:fadeIn .2s linear backwards .2s;
    

 }
 .home .slide .content h3{
    font-size: 4vw;
    color:var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding:1rem 0;
    animation:fadeIn .2s linear backwards .4s;
 }

 .home .slide .content .btn{
    animation:fadeIn .2s linear backwards .6s;
 }
 
 .home .swiper-button-next,
 .home .swiper-button-prev{
    top:inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color:var(--black);
 }
 
 .home .swiper-button-next:hover,
 .home .swiper-button-prev:hover{
    background: var(--main-color);
    color:var(--white);
 }
 
 .home .swiper-button-next::after,
 .home .swiper-button-prev::after{
    font-size: 2rem;
 }
 
 .home .swiper-button-prev{
    right: 7rem;
 }




















   

    






 .footer{
    background-size: cover;
    background-position: center;
 }
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
 }
 
 .footer .box-container .box h3{
    color:var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
 }
 
 .footer .box-container .box a{
    color:var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
    color:#fff;
 }
 
 
 


















/* media queries */

@media (max-width:1200px){
    section{
        padding:3rem 5%;

    }
}

@media (max-width:991px){
    html{
        font-size: 55%;

    }
    
    section{
        padding:3rem 2rem;
        
    }
}

@media (max-width:768px){
    
    
   
   .hamburger{
        display:inline-block;
    }

    .hamburger.active .bar:nth-child(2)
{
    opacity: 0;
}
.hamburger.active .bar:nth-child(1)
{
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3)
{
    transform: translateY(-8px) rotate(-45deg);
}

    .nav-menu{
        position:fixed;
        left:-100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width:100%;
        text-align: center;
        transition: 0.3s;
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }



}


@media (max-width:450px){
    html{
        font-size: 50%;
        
    }
    
}