@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}


section{
    padding:5rem 10%;
 }
 
 @keyframes fadeIn {
    0%{
       transform: scale(0);
       opacity: 0;
    }
 }



 





 .btn{
    display: inline-block;
    border-radius: .5rem;
    background: var(--black);
    margin-top: 1rem;
    color:var(--white);
    font-size: 1rem;
    padding:0.8rem 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
 }

 .btn.active{
    background: var(--main-color);

 }
 
 .btn:hover{
    background: var(--main-color);
 }





 .form-container{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:5.6rem;
}

.form-container form{
   padding:1rem;
   width: 25rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   background-color: var(--white);
   text-align: center;
}

.form-container form h3{
   font-size: 1.5rem;
   margin-bottom: 1rem;
   text-transform: uppercase;
   color:var(--black);
}

.form-container form .box{
   width: 85%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:0.5rem 0.5rem;
   font-size: 0.8rem;
   color:var(--black);
   border:var(--border);
   margin:1rem 0;
}
.form-container form .btn{
   border-radius: .5rem;
   font-size: 1rem;
   padding: 0.5rem 0.5rem;
}

.form-container form p{
   padding-top: 1rem;
   font-size: 1rem;
   color:var(--black);
}

.form-container form p a{
   color:blueviolet;
}

.form-container form p a:hover{
   text-decoration: underline;
}



 


 .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
 }
 
 .header .logo{
    font-size: 1.7rem;
    color:var(--black);
 }
 
 .header .navbar a{
    font-size: 1.2rem;
    margin-left: 2rem;
    color:var(--black);
 }
 
 .header .navbar a:hover{
    color:var(--main-color);
 }
 
 


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}









 .home{
    padding:0;
 }
 
 .home .slide{
    text-align: center;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 42rem;
 }
 
 .home .slide .content{
    width: 40rem;
    display: none;
 }
 
 .home .swiper-slide-active .content{
    display: inline-block;
 }
 
 .home .slide .content span{
    display: block;
    font-size: 2rem;
    color: var(--light-white);
    padding-bottom: 4rem;
    animation:fadeIn .2s linear backwards .2s;
 }
 
 .home .slide .content h3{
    font-size: 6vw;
    color:var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding:1rem 0;
    animation:fadeIn .2s linear backwards .4s;
 }
 
 .home .slide .content .btn{
    border-radius: 1rem;
    animation:fadeIn .2s linear backwards .6s;
 }
 
 .home .swiper-button-next,
 .home .swiper-button-prev{
    top:inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    background: var(--white);
    color:var(--black);
 }
 
 .home .swiper-button-next:hover,
 .home .swiper-button-prev:hover{
    background: var(--main-color);
    color:var(--white);
 }
 
 .home .swiper-button-next::after,
 .home .swiper-button-prev::after{
    font-size: 1rem;
 }
 
 .home .swiper-button-prev{
    right: 4rem;
 }




 .heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 3rem;
   text-transform: uppercase;
   color:var(--black);
 }

 .services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 0.7fr));
   gap: 1.5rem;
}

.services .box-container .box{
   padding:0.8rem 0.8rem;
   border-radius: .5rem;
   text-align: center;
   background: var(--main-color);
   cursor: pointer;
}

.services .box-container .box:hover{
   background:  rgb(223, 247, 247);
}

.services .box-container .box img{
   height: 80%;
   width: 80%;
   
}

.services .box-container .box h3{
   color:var(--white);
   font-size: 1rem;
   padding-top: 1rem;
}





.home-about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.home-about .image{
   flex:1 1 37rem;
}

.home-about .image img{
   width: 100%;
}

.home-about .content{
   flex:1 1 35rem;
   padding:2rem;
   background: rgb(223, 247, 247);
}

.home-about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.home-about .content p{
   font-size: 1rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--black);
}


.home-contact{
   background-color:rgb(223, 247, 247);
}

.home-contact .content{
   max-width: 40rem;
   text-align: center;
   margin:0 auto;
}

.home-contact .content h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.home-contact .content p{
   padding:1rem 0;
   line-height: 1;
   font-size: 1rem;
}



.contact form{
   background-color: rgb(223, 247, 247);
   margin-top: 4rem;
   border-radius: .5rem;
   border:var(--border);
   padding:3rem;
   max-width: 30rem;
   max-height: 30rem;
   margin:0 auto;
   text-align: center;
}

.contact form h3{
   font-size: 2rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
   color:var(--black);
}

.contact form .box{
   margin:1rem 0;
   width: 100%;
   border:var(--border);
   background-color: var(--white);
   padding:0.6rem 0.6rem;
   font-size: 1rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 6rem;
}


 .heading{
   background-size: cover !important;
   background-position: center !important;
   box-shadow: inset 0 0 10px #f7f6f5;
   padding-top: 5rem;
   padding-bottom:7rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 4rem;
   font-family: 'sans-serif';
   text-transform: uppercase;
   color:var(--black);
   text-shadow: var(--text-shadow);
}




.packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 0.5fr));
   gap: 2rem;
}

.packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
   display: inline-block;
}

.packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.packages .box-container .box .image{
   height: 18rem;
   overflow: hidden;
}

.packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.packages .box-container .box .content{
   padding:1rem;
   text-align: center;
}

.packages .box-container .box .content h3{
   font-size: 1.5rem;
   color:var(--black);
}

.packages .box-container .box .content p{
   font-size: 0.9rem;
   color:var(--light-black);
   line-height: 1.2;
   padding:0.8rem 0;
}

.packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.packages .load-more .btn{
   border-radius: .5rem;
   margin-top: 1.2rem;
   padding: 0.5rem 0.5rem;
}

.packages .box-container .box .content .btn{
   background-color: red;
   border-radius: .5rem;
   margin-top: 1.2rem;
   padding: 0.5rem 0.5rem;
}

.packages .box-container .box .content .btn:hover{
   background-color: rgba(104, 101, 101, 0.934);
}



.booking .heading-title{
   font-size: 3rem;
   text-align: center;
}

.booking .book-form{
   width:75rem;
   padding:2.5rem;
   border-radius: .5rem;
   background: rgb(223, 247, 247);
}

.booking .book-form .flex{
   display: flex;
   flex-wrap:wrap;
   gap:2rem;

}
.booking .book-form .flex .inputBox{
   flex:1 1 31rem;
}

.booking .book-form .flex .inputBox input{
   width: 90%;
   padding:0.4rem 0.4rem;
   font-size: 0.8rem;
   color: var(--light-black);
   text-transform: none;
   margin-top: 0.5rem;
   border:var(--border);
   border-radius: .5rem;
}


.booking .book-form .flex .inputBox input:focus{
   background: var(--black);
   color:var(--white);
}

.booking .book-form .flex .inputBox input:focus::placeholder{
   color:var(--light-white);
}

.booking .book-form .flex .inputBox span{
   font-size: 1rem;
   color:var(--light-black);
}

.booking .book-form .btn{
   color: antiquewhite;
   margin-top: 1.2rem;
   padding: 0.5rem 0.5rem;
   border-radius: 0.5rem;
}





.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 800px;
   background-color: var(--white);
   padding:1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
   gap:1rem;
}

.message span{
   font-size: 1rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 1.5rem;
}

.message i:hover{
   transform: rotate(90deg);
}













 .footer{
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem;
 }
 
 .footer .box-container{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
 }
 
 .footer .box-container .box h3{
    color:var(--white);
    padding-right: 4rem;
    font-size: 1rem;
    padding-bottom: 1rem;
 }
 
 .footer .box-container .box a{
    color:var(--light-white);
    font-size: 1rem;
    padding-bottom: 1.1rem;
    display: block;
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    color: #fff;
    padding-right: 2rem;
    
 }






 @media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
 
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
    section{
       padding:3rem 2rem;
    }
 
    .home .slide .content h3{
       font-size: 10vw;
    }
 
 }
 


 @media (max-width:768px){
 
    .heading h1{
       font-size: 4rem;
    }
 
    .hamburger{
        display:block;

    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar .nav-menu{
        display: flex;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;    

    }


 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
    .heading-title{
        font-size: 3.5rem;
     }
}